.banner {
  background: $blue url(/images/ids-bkg.png);
  background-size: cover;
  text-align: center;
  padding: 4rem 0;

  h1 {
    color: $white;
  }
  h3 {
    color: $white;
    font-size: 2.4rem;
  }
  hr {
    border: 0;
    border-bottom: 3px solid $white;
    width: 20%;
    margin-bottom: 2rem;
  }
}
