.location-cards {
  padding: 4rem 0;
}

.card {
  background: #FCFDFD;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  border-radius: 3px;
  padding: 15px 20px;
  border-top: 15px solid $gray-light + 15;
  min-height: 350px;
  margin-bottom: 3rem;
  h3 {
    color: $blue;
  }
  img {
    margin-bottom: 1rem;

  }
}
