
$DinLight: "Din-Light", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$DinMed: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$DinReg: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$DinBold: "Din-Bold", "Helvetica", "Helvetica Neue", "Arial", sans-serif;

@font-face {
	font-family: 'DIN-Bold';
	src: url('/fonts/DINPro-Bold.eot');
	src: url('/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-Bold.woff') format('woff'),
		url('/fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-Medium';
	src: url('/fonts/DINPro-Medium.eot');
	src: url('/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-Medium.woff') format('woff'),
		url('/fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-Light';
	src: url('/fonts/DINPro-Light.eot');
	src: url('/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-Light.woff') format('woff'),
		url('/fonts/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-Reg';
	src: url('/fonts/DINPro-Regular.eot');
	src: url('/fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-Regular.woff') format('woff'),
		url('/fonts/DINPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
