footer {
  background: $gray-light;
  padding: 1rem 0;

  .container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    @media #{$mobile} {
      flex-direction: column;
    }
  }


  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0;
    margin-left: 1rem;
    border-right: 1px solid $gray;
    padding-right: 1rem;
    line-height: 1;
    font-size: 1.4rem;

    @media #{$mobile} {
     border: 0;
     margin-bottom: 2rem;
     text-align: center;
    }

    &:last-child {
      border-right: 0;
    }

    @media #{$mobile} {
      display: block;
    }
  }
  .logo {
    margin-top: 5px;
    @media #{$mobile} {
      margin-bottom: 2rem;
    }
  }
  .menu {
    margin-left: auto;
    a {
      color: $gray - 80;
    }
    @media #{$mobile} {
      margin: 0;
    }
  }
}
