header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $gray;
  padding-left: 10px;
  padding-right: 10px;


  ul {
    list-style: none;
    margin: 0;
    a {
      color: $black;
      padding: 1.75rem .5rem;
    }
  }
  li {
    display: inline;
    margin-right: 2rem;
    margin-bottom: 0;
    a {
      display: block;
    }
  }

  .logo {
    margin-right: 4rem;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .menu {
    flex: 1;
    align-items: center;
    display: flex;
    a {
      border-bottom: 3px solid transparent;
    }
    a:hover {
      border-bottom: 3px solid $blue;
      text-decoration: none;
    }
  }
  .utility {
    margin-left: auto;
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }
  .button {
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    align-items: center;
  }
}
