.idealspot {
  background: $blue;
  padding: 4rem 0;

  h2 {
    color: $white;
  }
  img {
    margin-bottom: 2rem;
  }
  ul {
    list-style: none;
  }
  li {
    color: $white;
    font-size: 18px;
  }
  hr {
    border: 0;
    border-bottom: 3px solid $white;
    width: 30%;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 0;
    @media #{$mobile} {
      margin: 2rem auto;
    }
  }
  @media #{$mobile} {
    text-align: center;
  }
}
