header {
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  label {
    display: none;
    cursor: pointer;
    user-select: none;
  }

  /* background for li / select */
  /* custom-dropdown */

  /* small screens */
  @media #{$tablet} {
    display: block !important;
    min-height: 50px;
    clear: both;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .logo {
      display: block;
      width: 25%;
      float: left;
      padding-top: 5px;
      padding-left: 10px;
    }
    a.button {
      display:none;
    }
    ul.menu {
      padding-top: 2rem;
      display: none;
      height: 100%;
      a:hover {
        background: $gray-light + 20;
      }
    }
    ul.utility {
      display:none;
    }
    label {
      position: relative;
      display: block;
      width: 50%;
      right: 0;
      float: right;
      min-height: 2.25em;
      margin: 0;
    }
    label:after {
      position: absolute;
      right: .25em;
      top: 0;
      content: "\2261";
      font-size: 1.8em;
    }
    input[type=checkbox]:checked ~ label:after {
      content: '\2715';
    }

    input[type=checkbox]:checked ~ ul.menu {
      display: block;
    }
    input[type=checkbox]:checked ~ ul.menu > li {
      width: 100%;
      opacity: .8;
      text-align: center;
    }

  }
}
