$white: #ffffff;
$black: #333333;
$gray: #cccccc;
$gray-light: #e2e2e2;
$blue: #0369C3;
$orange: #FE6500;

$display : "(min-width: 1920px)";
$desktop : "(max-width: 1919px)";
$tablet  : "(max-width: 1024px)";
$mobile   : "(max-width: 767px)";
